/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #ff7e5f, #feb47b); /* Fondo vibrante */
  color: #fff;
  line-height: 1.8;
  padding: 30px;
  animation: fadeIn 2s ease-in-out;
}

/* Encabezado y barra de navegación */
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #9c27b0;
  padding: 15px 0;
  z-index: 1000;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

nav ul li {
  margin: 
